<section id='detailsPage'>
  <div id='detailsInfo'>
    <h1>Title:{{toy.title}}</h1>
    <div class='info'><img src='{{toy.imageUrl}}' /></div>
    <div class='info'>
      <h3>CHARITY: {{toy.charity}}</h3>
      <h3>CATEGORY: {{toy.category}}</h3>
      <h3>DESCRIPTION: {{toy.description}}</h3>
      <h2>PRICE: ${{toy.price}}</h2>
    </div>
    <!--If there is user logged in-->
    {{#if email}}
      <div class='buttons'>
        <!--If user is not owner of the toy post-->
        {{#unless toy.hasBought}}
          {{#if toy.notOwner}}
            <a href='/site/{{toy._id}}/buy' class='buy-btn'>Buy</a>
          {{/if}}
        {{/unless}}
        <!--If user is owner-->
        {{#if toy.isOwner}}
          <a href='/site/{{toy._id}}/edit' class='edit-btn'>Edit</a>
          <a href='/site/{{toy._id}}/delete' class='delete-btn'>Delete</a>
        {{/if}}
        <!--If user is not the owner and is bought this toy-->
        {{#if toy.hasBought}}
          <p><span class='buy'>Thank You For Your Purchase :)</span></p>
        {{/if}}
      </div>
    {{/if}}
  </div>
</section>